@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(228, 33%, 97%);
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 2rem 0;
}
